/*! MISE EN FORME MODALE DE CONTACT */
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.detail_profile_image {
    width: 200px;
    height: auto;
}

article img {
    width: 200px;
    height: auto;
}

article video {
    width: 200px;
    height: auto;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.detail-profile-image {
    width: 200px;
    height: 200px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    padding-top: 25px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.modal header img {
    cursor: pointer;
    width: 42px;
    height: 42px;
}

.modal header h2 {
    font-size: 45px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 0;
}

.photographer-name {
    min-width: 320px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#all_inputs_container {
    margin-top: 50px;
}

form label,
textarea {
    color: #312E2E;
    font-size: 26px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}

/* PHOTOGRAPH GALLERY */
#photograph_gallery {
    height: auto;
    margin: 50px 100px 100px 100px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    justify-content: center;
    gap: 5%;
}

#photograph_gallery article {
    min-width: 30%;
    height: 350px;
    border: 1px solid black;
    border-radius: 5px;
}

.bottom_fixed_infos {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 50px;
    margin-right: 30px;
    border-radius: 5px 5px 0px 0px;
    background-color: #DB8876;
}