.dropdown-container {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.dropdown-container_title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;

}

.dropbtn {
  background-color: #911C1C;
  margin-left: 20px;
  border-radius: 5px;
  min-width: 150px;
  /* margin-left: 10px; */
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.dropdown-arrow {
  margin-left: 50px;
  transform: rotate(180deg);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown:hover>.dropbtn {
  border-radius: 5px 5px 0px 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #911C1C;
  width: 170px;
  margin-left: 20px;
  margin-top: 0px;
  z-index: 1;
  border-radius: 0px 0px 5px 5px;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;

}

/* Change color of dropdown links on hover */
/* .dropdown-content p:hover {} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-arrow {
  animation: rotationChevronTri linear forwards;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-date:before {
  content: "";
  position: absolute;
  color: white;
  width: 155px;
  height: 10px;
  bottom: 76px;
  left: 5px;
  border-top: 1px solid
}

.dropdown-date:after {
  content: "";
  position: absolute;
  color: white;
  width: 155px;
  height: 10px;
  bottom: 43px;
  left: 5px;
  border-bottom: 1px solid
}

.dropdown-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.dropdown-date {
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes rotationChevronTri {
  0% {
    transform: rotate(2.5turn);
  }

  100% {
    transform: rotate(0turn);
  }
}