#dropdown {
  position: relative;
  top: -25px;
  margin-left: 200px;
}

.dropdown-toggle {
  display: flex;
  flex-direction: row;
  display: inline-block;
  text-align: left;
  padding: 10px;
  border-radius: .25rem;
  background-color: #911C1C;
  /* background-color: green; */
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  width: 190px;
}

.dropdown-label {
  margin-left: 100px;
  font-size: 18px;
  font-weight: 500;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 190px;
  background-color: #911C1C;
  border-radius: 5px;
  color: #fff;
  display: none;
  cursor: pointer;
}

.dropdown-items {
  margin: 0;
}


.dropdown-items {
  padding: 10px;
}

.dropdown-menu.show {
  display: block;
  border-radius: 0px 0px 5px 5px;
}

/* .dropbtn {
  display: inline-block;
  background-color: #911C1C;
  margin-left: 20px;
  border-radius: 5px;
  width: 170px;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  z-index: 9999000;
} */

.dropdown-arrow {
  display: inline-block;
  margin-left: 70px;
  transform: rotate(180deg);
}

.dropdown-arrow.reverse {
  animation: rotationChevronTri linear forwards;
}

.dropdown-toggle.open {
  border-radius: 5px 5px 0px 0px;
}



.dropdown-date:before {
  content: "";
  position: absolute;
  color: white;
  width: 175px;
  height: 10px;
  bottom: 71px;
  left: 7px;
  border-top: 1px solid
}

.dropdown-date:after {
  content: "";
  position: absolute;
  color: white;
  width: 175px;
  height: 10px;
  bottom: 43px;
  left: 7px;
  border-bottom: 1px solid
}

/* .dropdown-title {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0px 0px 5px 5px;

}

.dropdown-date {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0px;
} */



@keyframes rotationChevronTri {
  0% {
    transform: rotate(2.5turn);
  }

  100% {
    transform: rotate(0turn);
  }
}